body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    background: #cc1515;
}

.form-column label {
    font-weight: bold;
    font-size: 24px;
}

.form-container {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 70px;
}

.form-column select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-column:last-child {
    margin-left: 10px;
}

.button-container {
    margin-left: 53rem;
}

#pdf-container {
    display: none;
    margin-top: 20px;
}

#pdf-container embed {
    width: 100%;
    height: 800px;
}

#search-wrapper {
    display: flex;
    align-items: center; 
}

#start-button {
    margin-top: -60px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #acacac;
    transition: background-color 0.3s ease;
}

#start-button.ready {
    background-color: rgb(2, 189, 2);
}